.combatGrid{
    --corePadding: 1rem;
    --_fullHeight: var(--fullHeight, 90vh);
    --_height: var(--height, var(--_fullHeight));
    
    display: grid;
    padding-left: var(--corePadding);
    padding-right: var(--corePadding);
    height: var(--_height);
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media only screen and (max-height: 840px){
    .combatGrid{
        --_fullHeight: var(--fullHeight, 85vh);
    }
}
@media only screen and (max-height: 560px){
    .combatGrid{
        --_fullHeight: var(--fullHeight, 80vh);
    }
}
@media only screen and (max-height: 420px){
    .combatGrid{
        --_fullHeight: var(--fullHeight, 75vh);
    }
}
@media only screen and (max-height: 340px){
    .combatGrid{
        --_fullHeight: var(--fullHeight, 70vh);
    }
}

.combatGrid .section{
    padding: var(--corePadding);
}

.narrative{
    grid-row-end: span 8;
}

.initiativeOrder{
    grid-column-start: 2;
    grid-column-end: span 3;
}

.colosseum{
    grid-row-start: 2;
    grid-row-end: span 6;
    grid-column-start: 2;
    grid-column-end: span 3;
}

.actions{
    grid-row-start: 8;
    grid-column-start: 2;
    grid-column-end: span 3;
}